<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Schedule</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card button>
      <ion-card-header color="medium">Monday, Strength Training</ion-card-header>
      <ion-card-content class="ion-no-padding">
        <ion-list lines="none">
          <ion-item>A: Pause Bench Press</ion-item>
          <ion-item>B: Dumbbell Bench Press</ion-item>
          <ion-item>C: Leg Press</ion-item>
          <ion-item>D: Goblet Reverse Lunge</ion-item>
          <ion-item>E1: Seated Row</ion-item>
          <ion-item>E2: Dumbbell Lateral Raise</ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
    <ion-card button>
      <ion-card-header color="medium">Tuesday, Rest Day</ion-card-header>
    </ion-card>
    <ion-card button>
      <ion-card-header color="medium">Wednesday, Strength Training</ion-card-header>
      <ion-card-content class="ion-no-padding">
        <ion-list lines="none">
          <ion-item>A: Back Squat</ion-item>
          <ion-item>B: Deadlift</ion-item>
          <ion-item>C: Seated Dumbell Shoulder Press</ion-item>
          <ion-item>D: Lat Pulldown to Sternum</ion-item>
          <ion-item>E1: Single Arm Dumbbell Row</ion-item>
          <ion-item>E2: Dumbbell Fly</ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
    <ion-card button>
      <ion-card-header color="medium">Thursday, Rest Day</ion-card-header>
    </ion-card>
    <ion-card button>
      <ion-card-header color="medium">Friday, Strength Training</ion-card-header>
      <ion-card-content class="ion-no-padding">
        <ion-list lines="none">
          <ion-item>A: Pause Bench Press</ion-item>
          <ion-item>B: Dumbbell Bench Press</ion-item>
          <ion-item>C: Leg Press</ion-item>
          <ion-item>D: Goblet Reverse Lunge</ion-item>
          <ion-item>E1: Seated Row</ion-item>
          <ion-item>E2: Dumbbell Lateral Raise</ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
    <ion-card button>
      <ion-card-header color="medium">Saturday, Rest Day</ion-card-header>
    </ion-card>
    <ion-card button>
      <ion-card-header color="medium">Sunday, Rest Day</ion-card-header>
    </ion-card>
  </ion-list>
</ion-content>
